# Primeiros Exemplos

In [1]:
print('hello word!')

hello word!

In [7]:
1 \
    + 2

3

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

print(1 + 2 + 3)
print(3 + 4 + 5)

# Tipos Básicos

In [22]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo a minha lingua!')
print("aspas duplas tambem funciona")
print('Você é ' + 3 * 'muitoo ' + 'legal')
# print(3 + '3') => ambiguidade
print([1,2,3])
print({'name': 'victor', 'age': 21})
print(None)

True
False
2.2
Aqui eu falo a minha lingua!
aspas duplas tambem funciona
Você é muitoo muitoo muitoo legal
[1, 2, 3]
{'name': 'victor', 'age': 21}
None

# Variáveis

In [13]:
a = 10
b = 25

print(a + b)
print(a)

a = 'agora sou uma string'
print(a)

35
10
agora sou uma string

# Operadores aritméticos

In [22]:
print( 2 + 3)
print( 2 - 3)
print( 2 * 3)
print( 4 / 2)
print( 3 / 2)
print( 3 // 2)
print( 2 ** 3)
print(10 % 3)
y = 1
# um operando (unario)
# dois operandos (binario)
# tres operandos (ternario)

5
-1
6
2.0
1.5
1
8
1

# Desafio

In [27]:
salario = 3450.45
despesas = 2456.2
percentual_comprometimento =  despesas / salario * 100
print(percentual_comprometimento)

71.18491790925822

# Operadores Relacionais

In [31]:
3 > 4
3 < 4
3 >= 4
3 <= 4
3 != 4
3 == 4
3 == '4'

False

# Operadores de Atribuição

In [32]:
a = 3
a = a + 7
a += 7
a *= 7
a /= 7
a -= 7 
a %= 7
a **= 7
a //= 7

# Operadores Logicos

In [45]:
# Tabela verdade do or
print(False or False)
print(False or True)
print(True or False)
print(True or True)

# Tabela verdade do and
print(False and False)
print(False and True)
print(True and False)
print(True and True)

# Tabela verdade do xor
print(False != False)
print(False != True)
print(True != False)
print(True != True)

# Operador unario Not
not False
not True

not not True
not not not False

# Cuidado
# Operadores bit a bit
True & True
False | True
True ^ False

# && curto circuito
# binarios 
# 3 = 11
# 2 = 10
3 & 2 
# ele compara bit-a-bit como se fosse uma operação
# And bit-a-bit
# 11 = 1 
# 10 = 0
# logo 3 & 2 = 10 binario
# e o mesmo conceito é usado para as demais operações

# OR bit-a-bit
# 3 = 11
# 2 = 10
# 11
3 | 2 

# XOR bit-a-bit
# 3 = 11
# 2 = 10
# 01
3 ^ 2 


# Um pouco de realidade
saldo  = 1000
salario = 4000
despesas = 2967

# Desafio

# Verificar se o nosso amigo bateu a meta ou nao

# Se o saldo estiver positivo e o que sobrou no mes foi mais que 20% entao ele bateu a meta

# resposta
saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario
meta = saldo_positivo  and despesas_controladas

print("meta: ", meta)

# se substituir o and pelo & vai dar inconsistencia, pois o & tem uma precedencia maior do que os demais 
# operadores

False
True
True
True
False
False
False
True
False
True
True
False
meta:  True

# Desafio Operadores Logicos

### ***Uma pessoa vai realizar duas entrevistas de emprego durante a semana, uma na segunda e a outra na sexta  se a pessoa conseguir admição nas duas entrevistas ela prometeu a familia leva-los em um restaurante e logo após pedir uma sobremesa, se a pessoa for admita em apenas um dos dois empregos ela vai levar a familia para tomar sorvete, caso ele nao consiga nenhum dos dois empregos, ele não vai levar a familia em lugar algum, porem ele vai se manter saudavel.***
>
>

In [58]:
# Os trabalhos 
trabalho_segunda = False
trabalho_sexta = False

""" 
- confirmado os 2 trabalhos = restaurante + sobremesa
- confirmado apenas 1 trabalho = apenas sorvete
- nenhum trabalho confirmado = mais saudavel
"""

restaurante_sobremesa = trabalho_segunda and trabalho_sexta
sorvete = trabalho_segunda or trabalho_sexta
saude = not sorvete

print('restaurante + sobremesa: {}, sorvete: {}, saude: {}'
      .format(restaurante_sobremesa,sorvete,saude))

restaurante + sobremesa: False, sorvete: False, saude: True

# Operadores Unarios

In [65]:
a = 3
print(a)
# a++ não funciona
a += 1
print(a)
print(-a)
print(a)

# Logicos
print(not 0)
print(not 1)
print(not -1) 
print(not False)

3
4
-4
4
True
False
False
True

# Operadores Ternarios

In [73]:
esta_chovendo = True

print(' Hoje estou com as roupas ' + ('secas', 'molhadas')[esta_chovendo])

print(' Hoje estou com as roupas ' + ('molhadas' if esta_chovendo else 'secas'))

 Hoje estou com as roupas molhadas
 Hoje estou com as roupas molhadas

# Mais Operadores (membro / entidade)

In [87]:
# membro
lista = [1,2,3,'Ana','Carla']
print(2 in lista)
print('Ana' not in lista)

# Entidade
x = 3 
y = x
z = 3

print(x is z)
print(y is z)
print(x is not z)

lista_a = [1,2,3]
lista_b = lista_a
lista_c = [1,2,3]

print(lista_a is lista_b)
print(lista_b is lista_c)
print(lista_a is not lista_c)

lista_b[1] = 200
print(lista_a[1]) # olha que coisa legal, muda o valor pois ambos apontam para o mesmo endereço de memoria

True
False
True
True
False
True
False
True
200

# Conversao de Tipos

In [95]:
2 + 3
'2' + '3'


a = 1
b = '2'

print(type(a))
print(type(b))

c = a + int(b)
print(c)

d = str(a) + b
print(d)

e = '3.4'

f = a + float(e)
print(f)

<class 'int'>
<class 'str'>
3
12
4.4

# Coersão automatica

In [100]:
10 / 2 # dois numeros inteiros geram float
2 + True
2 + False

2

# Tipos Numericos

In [107]:
dir(int)
dir(float)

a = 5
b = 2.5

print(type(a / b))
print(0.5.is_integer())
print(5.0.is_integer())

<class 'float'>
False
True

# Tipo String

In [111]:
nome = 'Victor'
print(nome[0])

print("marca d'agua" == 'marca d\'agua')

V
True